/* CSS Document */

 /* Settings panel Styles */
#cfont,#confont{width:161px; height:30px; line-height:30px; padding:3px; margin-left:84px; font: 12px Arial, Helvetica, sans-serif; color:#666;}
.settings-panel { position: fixed; top:40px; left: 0px; width: 270px; background-color: #fff; border: 1px solid #ebeff0; padding: 2px 5px 10px; margin-left: -282px; z-index: 9999999; }
.settings-panel .open-buttton { display: block; width: 32px; height: 32px; background:url(../img/services-icon.png)center center #fff no-repeat; position: absolute; top: 184px; right: -45px; cursor: pointer; padding: 3px 2px 2px; border: 1px solid #ebeff0; border-left: none; }
.settings-panel h5 { line-height: 12px; margin: 0px 0px 8px 0px; padding: 0px; color: #555; }
.settings-panel .patterns , .settings-panel .c_patterns  { overflow: hidden; margin: 0px 0px 0px -6px; padding: 0px 0px 3px 6px; padding-top: 10%;}
.settings-panel .patterns li, .settings-panel .c_patterns li { width: 37px; height: 37px; border: 1px solid #e1e4e5; float: left; margin: 0px 0px 2px 5px; cursor: pointer; } .settings-panel ul{ list-style:none;}

 /* background Patterns */
.settings-panel .patterns li.bgs1 { background: url(../images/patterns/45degreee_fabric.html); }
.settings-panel .patterns li.bgs2 { background: url(../images/patterns/bgnoise_lg.html); }
.settings-panel .patterns li.bgs3 { background: url(../images/patterns/gplaypattern.html); }
.settings-panel .patterns li.bgs4 { background: url(../images/patterns/bright_squares.html); }
.settings-panel .patterns li.bgs5 { background: url(../images/patterns/hexellence.html); }
.settings-panel .patterns li.bgs6 { background: url(../images/patterns/cork.html); }
.settings-panel .patterns li.bgs7 { background: url(../images/patterns/rockywall.html); }
.settings-panel .patterns li.bgs8 { background: url(../images/patterns/lghtmesh.html); }
.settings-panel .patterns li.bgs9 { background: url(../images/patterns/flowertrail.html); }
.settings-panel .patterns li.bgs10 { background: url(../images/patterns/light_wool.html); }
.settings-panel .patterns li.bgs11 { background: url(../images/patterns/diagonal-noise.html); }
.settings-panel .patterns li.bgs12 { background: url(../images/patterns/fabric_plaid.html); }
.settings-panel .patterns li.bgs13 { background: url(../images/patterns/lil_fiber.html); }
.settings-panel .patterns li.bgs14 { background: url(../images/patterns/xv.html); }
.settings-panel .patterns li.bgs15 { background: url(../images/patterns/light_alu.html); }
.settings-panel .patterns li.bgs16 { background: url(../images/patterns/light_honeycomb.html); }
.settings-panel .patterns li.bgs17 { background: url(../images/patterns/little_pluses.html); }
.settings-panel .patterns li.bgs18 { background: url(../images/patterns/project_papper.html); }
.settings-panel .patterns li.bgs19 { background: url(../images/patterns/stacked_circles.html); }
.settings-panel .patterns li.bgs20 { background: url(../images/patterns/ravenna.html); }
.settings-pane1 .patterns li.bgs21 { background: url(../images/patterns/roughcloth.html); }
.settings-panel .patterns li.bgs22 { background: url(../images/patterns/scribble_light.html); }
.settings-panel .patterns li.bgs23 { background: url(../images/patterns/small_tiles.html); }
.settings-panel .patterns li.bgs24 { background: url(../images/patterns/soft_wallpaper.html); }
.settings-panel .patterns li.bgs25 { background: url(../images/patterns/square_bg.html); }
.settings-panel .patterns li.bgs26 { background: url(../images/patterns/subtle_freckles.html); }
.settings-panel .patterns li.bgs27 { background: url(../images/patterns/gridme.html); }
.settings-panel .patterns li.bgs28 { background: url(../images/patterns/subtle_stripes.html);}
.settings-panel .patterns li.bgs29 { background: url(../images/patterns/tiny_grid.html);}
.settings-panel .patterns li.bgs30 { background: url(../images/patterns/smooth_wall.html);}
.settings-panel .patterns li.bgs31 { background: url(../images/patterns/grunge_wall.html); }
.settings-panel .patterns li.bgs32 { background: url(../images/patterns/concrete_wall_2.html); }
.settings-panel .patterns li.bgs33 { 	background-color:#e7e7e7; }
.settings-panel .patterns li.bgs34 { background: url(../images/patterns/triangles_pattern.html); }
.settings-panel .patterns li.bgs35 { background: url(../images/patterns/tex2res3.html); }
.settings-panel .patterns li.bgs40 { background: url(../images/patterns/cards/grilled.html); }



  /* Card Patterns Colors */
.settings-panel .c_patterns li.c1 { 	background-color:#f32a2a;  }
.settings-panel .c_patterns li.c2 { 	background-color:#60c3ca;  }
.settings-panel .c_patterns li.c3 { 	background-color:#e30069;  }
.settings-panel .c_patterns li.c4 { 	background-color:#99c927;  }
.settings-panel .c_patterns li.c5 { 	background-color:#fe7817;  }
.settings-panel .c_patterns li.c6 { 	background-color:#ffd800;  }
.settings-panel .c_patterns li.c7 { 	background-color:#00aeed;  }
.settings-panel .c_patterns li.c8 { 	background-color:#c1a274;  }
.settings-panel .c_patterns li.c9 { 	background-color:#5da494;  }
.settings-panel .c_patterns li.c10 { 	background-color:#b6d410;  }
.settings-panel .c_patterns li.c11{ 	background-color:#1f5f8d;  }
.settings-panel .c_patterns li.c12{ 	background-color:#b83895;  }
.settings-panel .c_patterns li.c13{ 	background-color:#8770b4;  }
.settings-panel .c_patterns li.c14{ 	background-color:#ba7ab6;  }
.settings-panel .c_patterns li.c15{ 	background-color:#99adab;  }
.settings-panel .c_patterns li.c16{ 	background-color:#12314e;  }
.settings-panel .c_patterns li.c17{ 	background-color:#2caeb5;  }
.settings-panel .c_patterns li.c18{ 	background-color:#741c66; }
.settings-panel .c_patterns li.c19{ 	background-color:#98c521;  }
.settings-panel .c_patterns li.default{ 	background-color:#98c521;  }




 /* Card Patterns  */
.settings-panel .patterns li.card_bgs1 { background: url(../images/patterns/cards/45degreee_fabric.html); }
.settings-panel .patterns li.card_bgs2 { background: url(../images/patterns/cards/bgnoise_lg.html); }
.settings-panel .patterns li.card_bgs3 { background: url(../images/patterns/cards/gplaypattern.html); }
.settings-panel .patterns li.card_bgs4 { background: url(../images/patterns/cards/bright_squares.html); }
.settings-panel .patterns li.card_bgs5 { background: url(../images/patterns/cards/hexellence.html); }
.settings-panel .patterns li.card_bgs6 { background: url(../images/patterns/cards/cork.html); }
.settings-panel .patterns li.card_bgs7 { background: url(../images/patterns/cards/rockywall.html); }
.settings-panel .patterns li.card_bgs8 { background: url(../images/patterns/cards/lghtmesh.html); }
.settings-panel .patterns li.card_bgs9 { background: url(../images/patterns/cards/flowertrail.html); }
.settings-panel .patterns li.card_bgs10 { background: url(../images/patterns/cards/light_wool.html); }
.settings-panel .patterns li.card_bgs11 { background: url(../images/patterns/cards/diagonal-noise.html); }
.settings-panel .patterns li.card_bgs12 { background: url(../images/patterns/cards/fabric_plaid.html); }
.settings-panel .patterns li.card_bgs13 { background: url(../images/patterns/cards/lil_fiber.html); }
.settings-panel .patterns li.card_bgs14 { background: url(../images/patterns/cards/xv.html); }
.settings-panel .patterns li.card_bgs15 { background: url(../images/patterns/cards/light_alu.html); }
.settings-panel .patterns li.card_bgs16 { background: url(../images/patterns/cards/light_honeycomb.html); }
.settings-panel .patterns li.card_bgs17 { background: url(../images/patterns/cards/little_pluses.html); }
.settings-panel .patterns li.card_bgs18 { background: url(../images/patterns/cards/project_papper.html); }
.settings-panel .patterns li.card_bgs19 { background: url(../images/patterns/cards/stacked_circles.html); }
.settings-panel .patterns li.card_bgs20 { background: url(../images/patterns/cards/ravenna.html); }
.settings-panel .patterns li.card_bgs21 { background: url(../images/patterns/cards/roughcloth.html); }
.settings-panel .patterns li.card_bgs22 { background: url(../images/patterns/cards/scribble_light.html); }
.settings-panel .patterns li.card_bgs23 { background: url(../images/patterns/cards/small_tiles.html); }
.settings-panel .patterns li.card_bgs24 { background: url(../images/patterns/cards/soft_wallpaper.html); }
.settings-panel .patterns li.card_bgs25 { background: url(../images/patterns/cards/square_bg.html); }
.settings-panel .patterns li.card_bgs26 { background: url(../images/patterns/cards/subtle_freckles.html); }
.settings-panel .patterns li.card_bgs28 { background: url(../images/patterns/cards/subtle_stripes.html);}
.settings-panel .patterns li.card_bgs29 { background: url(../images/patterns/cards/tiny_grid.html);}
.settings-panel .patterns li.card_bgs30 { background: url(../images/patterns/cards/textured_stripes.html);}
.settings-panel .patterns li.card_bgs31 { background: url(../images/patterns/cards/extra_clean_paper.html); }
.settings-panel .patterns li.card_bgs32 { background: url(../images/patterns/cards/tex2res2.html); }
.settings-panel .patterns li.card_bgs33 { background: url(../images/patterns/cards/egg_shell.html); }
.settings-panel .patterns li.card_bgs34 { background: url(../images/patterns/cards/redox_01.html); }
.settings-panel .patterns li.card_bgs35 { background: url(../images/patterns/cards/tex2res3.html); }
.settings-panel .patterns li.card_bgs39 { background: url(../images/patterns/cards/frenchstucco.html); }
.settings-panel .patterns li.card_bgs36 { background: url(../images/patterns/cards/wall4.html); }



.settings-panel  h5{ 
	font-size:14px;
	color:#61b1ca;
	 font-weight:600;
	 padding:3px 3px 0px 60px;
}


.settings-panel { 
	font-size:10x;
}


 /* Settings panel1 Styles */
.settings-panel1 { position: fixed; top:40px; left: 0px; width: 270px; background-color: #fff; border: 1px solid #ebeff0; padding: 2px 5px 10px; margin-left: -282px; z-index: 99999; }
.settings-panel1 .open-buttton1 { display: block; width: 32px; height: 32px; background: url(../images/services-icon2.html) center center #fff no-repeat; position: absolute; top: 224px; right: -45px; cursor: pointer; padding: 3px 2px 2px; border: 1px solid #ebeff0; border-left: none; }
.settings-panel1 h5 { line-height: 12px; margin: 0px 0px 8px 0px; padding: 0px; color: #555; }
.settings-panel1 .patterns , .settings-panel1 .c_patterns  { overflow: hidden; margin: 0px 0px 0px -6px; padding: 0px 0px 3px 6px; }
.settings-panel1 .patterns li, .settings-panel1 .c_patterns li { width: 37px; height: 37px; border: 1px solid #e1e4e5; float: left; margin: 0px 0px 2px 5px; cursor: pointer; }.settings-panel1 ul{ list-style:none;}

.settings-panel1 .patterns li.bgs41 { background: url(../images/patterns/cards/bg_1.html); }
.settings-panel1 .patterns li.bgs42 { background: url(../images/patterns/cards/bg_2.html); }
.settings-panel1 .patterns li.bgs43 { background: url(../images/patterns/cards/bg_3.html); }
.settings-panel1 .patterns li.bgs44 { background: url(../images/patterns/cards/bg_4.html); }
.settings-panel1 .patterns li.bgs45 { background: url(../images/patterns/cards/bg_5.html); }
.settings-panel1 .patterns li.bgs46 { background: url(../images/patterns/cards/bg_6.html); }
.settings-panel1 .patterns li.bgs47 { background: url(../images/patterns/cards/bg_7.html); }
.settings-panel1 .patterns li.bgs48 { background: url(../images/patterns/cards/bg_8.html); }
.settings-panel1 .patterns li.bgs49 { background: url(../images/patterns/cards/bg_9.html); }
.settings-panel1 .patterns li.bgs50 { background: url(../images/patterns/cards/bg_10.html);}
.settings-panel1 .patterns li.bgs51 { background: url(../images/patterns/cards/bg01.html); }
.settings-panel1 .patterns li.bgs52 { background: url(../images/patterns/cards/bg02.html); }
.settings-panel1 .patterns li.bgs53 { background: url(../images/patterns/cards/bg03.html); }
.settings-panel1 .patterns li.bgs54 { background: url(../images/patterns/cards/bg04.html); }
.settings-panel1 .patterns li.bgs55 { background: url(../images/patterns/cards/bg05.html); }
.settings-panel1 .patterns li.bgs56 { background: url(../images/patterns/cards/bg06.html); }
.settings-panel1 .patterns li.bgs57 { background: url(../images/patterns/cards/01.html); }
.settings-panel1 .patterns li.bgs58 { background: url(../images/patterns/cards/02.html); }
.settings-panel1 .patterns li.bgs59 { background: url(../images/patterns/cards/03.html); }
.settings-panel1 .patterns li.bgs60 { background: url(../images/patterns/cards/04.html); }
.settings-panel1 .patterns li.bgs61 { background: url(../images/patterns/cards/05.html); }


 /* Card Patterns Colors */
.settings-panel1 .c_patterns li.c1 { 	background-color:#1a416b;  }
.settings-panel1 .c_patterns li.c2 { 	background-color:#2caeb5;  }
.settings-panel1 .c_patterns li.c3 { 	background-color:#719430;  }
.settings-panel1 .c_patterns li.c4 { 	background-color:#999999;  }
.settings-panel1 .c_patterns li.c5 { 	background-color:#8eccb3;  }
.settings-panel1 .c_patterns li.c6 { 	background-color:#aec71e;  }
.settings-panel1 .c_patterns li.c7 { 	background-color:#435960;  }
.settings-panel1 .c_patterns li.c8 { 	background-color:#f3c432;  }
.settings-panel1 .c_patterns li.c9 { 	background-color:#eb5f96;  }
.settings-panel1 .c_patterns li.c10 { 	background-color:#de5a49;  }
.settings-panel1 .c_patterns li.c11{ 	background-color:#7cb854;  }
.settings-panel1 .c_patterns li.c12{ 	background-color:#dc0030;  }
.settings-panel1 .c_patterns li.c13{ 	background-color:#ff2d2d;  }
.settings-panel1 .c_patterns li.c14{ 	background-color:#a95f16;  }
.settings-panel1 .c_patterns li.c15{ 	background-color:#f44ecb;  }
.settings-panel1 .c_patterns li.c16{ 	background-color:#9b52ec;  }
.settings-panel1 .c_patterns li.c17{ 	background-color:#3bc53b;  }
.settings-panel1 .c_patterns li.c18{ 	background-color:#741c66; }
.settings-panel1 .c_patterns li.c19{ 	background-color:#98c521;  }
.settings-panel1 .c_patterns li.default{ 	background-color:#98c521;  }

.settings-panel1 .patterns li.img_bgs1 { background: url(../images/patterns/transparent/pat1.html); }
.settings-panel1 .patterns li.img_bgs2 { background: url(../images/patterns/transparent/pat1a.html); }
.settings-panel1 .patterns li.img_bgs3 { background: url(../images/patterns/transparent/pat1b.html); }
.settings-panel1 .patterns li.img_bgs4 { background: url(../images/patterns/transparent/pat2.html); }
.settings-panel1 .patterns li.img_bgs5 { background: url(../images/patterns/transparent/pat2a.html); }
.settings-panel1 .patterns li.img_bgs6 { background: url(../images/patterns/transparent/pat2b.html); }
.settings-panel1 .patterns li.img_bgs7 { background: url(../images/patterns/transparent/pat3.html); }
.settings-panel1 .patterns li.img_bgs8 { background: url(../images/patterns/transparent/pat3a.html); }
.settings-panel1 .patterns li.img_bgs9 { background: url(../images/patterns/transparent/pat4.html); }
.settings-panel1 .patterns li.img_bgs10 { background: url(../images/patterns/transparent/pat4a.html); }
.settings-panel1 .patterns li.img_bgs11 { background: url(../images/patterns/transparent/pat5.html); }
.settings-panel1 .patterns li.img_bgs12 { background: url(../images/patterns/transparent/pat5a.html); }
.settings-panel1 .patterns li.img_bgs13 { background: url(../images/patterns/transparent/pat6.html); }
.settings-panel1 .patterns li.img_bgs14 { background: url(../images/patterns/transparent/pat6a.html); }
.settings-panel1 .patterns li.img_bgs15 { background: url(../images/patterns/transparent/pat6b.html); }
.settings-panel1 .patterns li.img_bgs16 { background: url(../images/patterns/transparent/pat7.html); }
.settings-panel1 .patterns li.img_bgs17 { background: url(../images/patterns/transparent/pat7a.html); }
.settings-panel1 .patterns li.img_bgs18 { background: url(../images/patterns/transparent/pat7b.html); }
.settings-panel1 .patterns li.img_bgs19 { background: url(../images/patterns/transparent/pat7c.html); }
.settings-panel1 .patterns li.img_bgs20 { background: url(../images/patterns/transparent/pat8.html); }
.settings-panel1 .patterns li.img_bgs21 { background: url(../images/patterns/transparent/pat8a.html); }
.settings-panel1 .patterns li.img_bgs22 { background: url(../images/patterns/transparent/pat8b.html); }
.settings-panel1 .patterns li.img_bgs23 { background: url(../images/patterns/transparent/pat9.html); }
.settings-panel1 .patterns li.img_bgs24 { background: url(../images/patterns/transparent/pat9a.html); }
.settings-panel1 .patterns li.img_bgs25 { background: url(../images/patterns/transparent/pat9b.html); }
.settings-panel1 .patterns li.img_bgs26 { background: url(../images/patterns/transparent/pat9c.html); }
.settings-panel1 .patterns li.default{background:#ececec; }


.settings-panel1  h5{ 
	font-size:14px;
	color:#61b1ca;
	 font-weight:600;
	 padding: 20px 3px 0px 60px;
}
.settings-panel1  h6{ 
	font-size:12px;
	color:#61b1ca;
	 font-weight:600;
	 text-align:left;
	 float:left;
	 padding-left:60px;
}
.settings-panel1 { 
	font-size:10x;
}
